.buscar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-block-size: 100vh;
  }
  
  .buscar-header {
    inline-size: 100%;
  }
  
  .search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    max-inline-size: 800px;
    margin-block-start: 20px;
  }
  
  .search-input {
    inline-size: 80%;
    padding: 10px;
    margin-block-end: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    margin-block-end: 20px;
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    inline-size: 80%;
    margin: 0 auto;
    background-color: rgb(115, 221, 231);
    border: 3px solid #1e1bfc;
    max-block-size: 200px;
    overflow-y: auto;
  }
  
  .search-results li {
    padding: 10px;
    border-block-end: 1px solid #cd3333;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f0f0f0;
  }
  
  .search-results li:last-child {
    border-block-end: none;
  }
  
  .search-result {
    margin-block-start: 20px;
    font-size: 16px;
    color: #000000;
  }
  
  .back-button {
    margin-block-start: 20px;
    padding: 10px 20px;
  }
  
  .footer {
    inline-size: 100%;
  }
  
  .search-result {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    inline-size: 200px; 
    margin-inline-start: auto; 
  }
  
 