.buscar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .buscar-header {
    width: 100%;
  }
  
  .search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .search-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f0f0f0;
  }
  
  .search-results li:last-child {
    border-bottom: none;
  }
  
  .search-result {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  .footer {
    width: 100%;
  }
  
  .search-result {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    width: 100px; /* Tamaño deseado para la imagen */
    margin-left: auto; /* Alinea la imagen a la derecha */
  }
  
 