.catalogo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-block-size: 100vh;
    padding-block-start: 20px;
    box-sizing: border-box;
  }
  
  .catalog-header {
    inline-size: 100%;
  }
  
  .catalog-wrapper {
    position: relative;
    inline-size: 100%;
  }
  
  .catalog-buttons-container {
    display: flex;
    justify-content: center;
    margin-block-end: 10px;
  }
  
  .catalogo-container button {
    background-color: #0D6EFD;
    border-color: slategrey;
    inline-size: 100%;
    border-radius: 30px;
    padding: 15px;
    border-width: 0px;
    margin-inline-end: 10px;
    margin-block-end: 20px;
    color: white;
  }
  
  .catalogo-container button:hover {
    background-color: #073e3f;
  }
  
  .catalogo-container button:focus {
    outline: none;
  }
  

  .catalogo-container .image-container {
    overflow: hidden;
    position: relative;
    block-size: 400px;
    display: flex;
    justify-content: center;
  }
  
  .catalogo-container .image-wrapper {
    display: flex;
    inline-size: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .catalogo-container .image-item {
    min-inline-size: 100%;
    block-size: 100%;
    position: relative;
  }
  
  .catalogo-container .image {
    inline-size: 30%;
    block-size: auto;
    object-fit: cover;
  }
  
  .catalogo-container .description-container {
    position: absolute;
    inset-block-end: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    inline-size: 100%;
  }
  
  .image-container {
    inline-size: 100%; 
  }
  
  .image {
    inline-size: 100%;
    block-size: auto; 
    display: block;
    margin: 0 auto; 
  }